body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.logo {
    float: right;
}


#navigation-container {
    width: auto;
    margin: 0 60px auto;
    height: 70px;
}

#container {
    width: auto;
    margin: 10px 50px auto;
    height: auto;
}

.navigation-bar {
    background-color: #0099FF;
    height: 70px;
    width: 100%;
}


#header {
    text-align: left;
    border: 1px ridge;
    border-radius: 7px;
    background: #2AA2C7;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    margin-top: 10px;
}

#rcorners4 {
    margin: 10px;
    border-width: thin;
    border-radius: 9px;
    border: 1px ridge;
    background: #ffffff;
    padding: 20px;
    width: 500px;
    height: 150px;
}

.outerdiv {
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    /*justify-content: flex-start;*/
}

#inside {
    padding: 1px;
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

* {
    box-sizing: border-box;
}

table{
    table-layout:fixed;
}
.column {
    float: left;
    width: 25%;
    background: #83a6ef;
    border: 1px ridge;
    border-width: thin;
    text-align: center;
    padding: 0px;
    height: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

.column1 {
    float: left;
    width: 25%;
    border: 1px ridge;
    border-width: thin;
    text-align: center;
    padding: 0px;
    display: table-cell;
    height: 100%;
    text-wrap: normal;
    word-wrap: break-word;
}

.columnStatistic {
    float: left;
    width: 33.33%;
    border: 1px ridge;
    border-width: thin;
    text-align: center;
    padding: 0px;
    height: 40px;
    font-weight: bold;
}

.columnStatistic1 {
    float: left;
    width: 33.33%;
    border: 1px ridge;
    border-width: thin;
    text-align: center;
    padding: 0px;
    height: 40px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    height: inherit;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.col-container {
    display: table;
    width: 100%;
    height: auto;
}

.col {
    display: table-cell;
    float: left;
    width: 25%;
    border: 1px ridge;
    border-width: thin;
    text-align: center;
    padding: 0px;
    height: inherit;
}

#resp-table {
    width: 100%;
    display: table;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 10px;
}

#resp-table-caption {
    display: table-caption;
    text-align: left;
    border: 1px ridge;
    border-radius: 7px;
    background: #638adb;
    color: white;
    font-size: 16px;
    font-weight: bold;
    height: 45px;
    margin-bottom: 10px;
    padding: 15px;
}

#resp-table-header {
    display: table-header-group;
    background-color: #C0C0C0;
    font-weight: bold;
    font-size: 14px;
    color: black;
    height: 40px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
}

.table-header-cell {
    display: table-cell;
    padding: 10px;
    text-align: center;
    width: 25%;
    border: 1px ridge;
    border-width: thin;
}

#resp-table-body {
    display: table-row-group;
    margin-bottom: 10px;
}

.resp-table-row {
    display: table-row;
}

.table-body-cell {
    display: table-cell;
    text-align: center;
    border: 1px ridge;
    border-width: thin;
    padding: 7px;
}

.table-footer-cell {
    display: table-cell;
    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid black;
}

.resp-table-row:hover {
    background-color: #ececff;
    cursor: pointer;
}
